/* BIBLIOTHEQUE
 *
 * /sass/object/filter.scss -   NON DESIGN filter section
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */

 .filter{
   &__content{
     width:40em;
     margin: auto;
   }

   &__input{
     width:60%;
     margin-bottom: 2em;
   }
   &__submit{
    display:inline-block;
    -webkit-appareance:none;
    width:30%;
    height:35px;
   }
 }
 .menu{
   &__title{
     display: block;
   }
   &__subelement{
    display: inline-block;
    padding-left: 1em;
   }
 }
