/*
Dylan Schirino
2286
HEADER COMPONENTS FILES
*/



.header{
  background-color:$topbarBckg;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.topbar{
  &__title{
    padding-top:0.625em;
    display: inline-block;
    &--link{
      color:white;
    }
  }
}

.menu{
  &__element{
    font: 1.6em $lucidaStack;
  }
  &__submit{
    border-radius:5px;
    height:40px;
    border:none;
    background: $searchBckg;
    transition: .5s ease-in-out;
    &:hover{
      cursor: pointer;
    }
  }
  &__search{
    border-radius:5px;
    height:40px;
    border:none;
    padding-left:1em;
    background: #2b303b;
    color:$black;
    transition: .5s ease-in-out;
    &:focus{
      background-color: $white;
      color:$searchBckg;
    }
    &:focus ~ .menu__submit{
      background-color: $white;
      color:$searchBckg;
    }
  }
  &__link{
    color:$white;
    padding:1.2em;
    transition:.3s ease-in-out;

    &:hover{
      border-bottom: 3px solid $white;
    }
    &--active{
      border-bottom: 3px solid $white;
    }
  }
}
