/*
Dylan Schirino
2286
HEADER COMPONENTS FILES
*/



.header{
  background-color:$topbarBckg;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.topbar{
  &__title{
    padding-top:0.625em;
    display: inline-block;
    &--link{
      color:white;
    }
  }
}

.menu{
  &__element{
    font: 1.6em $lucidaStack;
    &--register{
      background-color:#69C1B0;
    }
    &--connexion{
      background-color: #5D727E;
    }
  }
  &__submit{
    border-radius:5px;
    height:40px;
    border:none;
    background: $searchBckg;
    color: $white;
    transition: .5s ease-in-out;
    &:hover{
      cursor: pointer;
    }
  }

  &__link{
    color:$white;
    padding:1.2em;
    transition:.3s ease-in-out;
    &:hover{
      color:#69C1B0;
    }
  }
}
