/* BIBLIOTHEQUE
 *
 * /sass/components/result.scss -  DESIGN result section
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */

 .result{
   &__title{
     padding-top:1em;
     font-size: 3em;
   }
   &__livre{
     padding: 2em 0;
   }
 }

.livre{
  &__title{
    padding-bottom: 1em;
    font: 2em $opensanStack;
    text-transform:uppercase;
    border-bottom: 1px solid black;
  }
  &__bold{
    font-weight: bold;
    display: block;
    padding-bottom:1em;
  }
  &__summary{
    font-size: 1.4em;
    padding: 1em 0;
  }
  &__button{
    display: inline-block;
    background-color: #2E4B6C;
    font: 1.2em $opensanStack;
    color: $white;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 5px;
    transition: .3s ease-in-out;
    &:hover{
      background-color: #142335;
    }
  }
}
