/* BIBLIOTHEQUE
 *
 * /sass/components/footer.scss -  DESIGN footer section
 *
 * coded by Dylan Schirino
 * started at 03/04/2016
 */

.subfooter{
  background-color:$subfooterBckg;
  padding:2em;
  &__text{
    text-align: center;
    color:$white;
  }
}
