
html{
  font-size:62.5%;
}
body{
  background: url("../img/grille.png") repeat center fixed;
  background-size:5em;
}
a{
  text-decoration: none;
  display: block;
}
p,h4{
  font:1.6em $opensanStack;
}
h1{
    font:2.4em $lucidaStack;
    text-transform: uppercase;
}
h2{
  font:3em $lucidaStack;
}
h3{
  font:2em $lucidaStack;
}
